{%- for section_hash in site.data.sections -%}
  {%- assign section = section_hash[1] -%}

{%- for solution in section.members -%}


  {%- if solution.code == page.code -%}

      <p>
        {%- for section_hash in site.data.sections -%}
          {% assign section = section_hash[1] %}        
          {%- for loc in section.members -%}
            {% if loc.code == page.code %}

              {% if page.lang == "ru" %}
                {{ loc.descr_full_ru }}
                {% else %}
                {{ loc.descr_full_en }}
              {% endif %}

            {% endif %}
          {%- endfor -%}
        {%- endfor -%}
      </p>

  {%- endif -%}
{%- endfor -%}
{%- endfor -%}

<div style="padding: 0 20px;">
{% if page.lang == "ru" %}
Исходные тексты содержащихся в этих образах свободных программ можно получить в 
<a href="http://ftp.altlinux.org/pub/distributions/ALTLinux/p9/branch/files/SRPMS/"><b>src.rpm</b></a>-<a href="http://packages.altlinux.org/ru/p9/home"><b>пакетах</b></a>
и из <a href="http://git.altlinux.org/"><b>git</b></a>-репозиториев.
{% endif %}

{% if page.lang == "en" %}
Sources for the free software contained in these images can be acquired as 
<a href="http://ftp.altlinux.org/pub/distributions/ALTLinux/p9/branch/files/SRPMS/"><b>src.rpm</b></a>
<a href="http://packages.altlinux.org/en/p9/home"><b>packages</b></a>
as well as <a href="http://git.altlinux.org/"><b>git</b></a> repos.

{% endif %}
</div>