{%- for section_hash in site.data.sections -%}
  {%- assign section = section_hash[1] -%}

{%- for solution in section.members -%}


  {%- if solution.code == page.code -%}

      <p>
        {%- for section_hash in site.data.sections -%}
          {% assign section = section_hash[1] %}        
          {%- for loc in section.members -%}
            {% if loc.code == page.code %}

              {% if page.lang == "ru" %}
                {{ loc.descr_full_ru }}
                {% else %}
                {{ loc.descr_full_en }}
              {% endif %}

            {% endif %}
          {%- endfor -%}
        {%- endfor -%}
      </p>

  {%- endif -%}
{%- endfor -%}
{%- endfor -%}
