{% if page.lang == 'ru' %}
<ul>
<li>
Для записи ISO-образов на DVD см.
<a href="http://altlinux.org/write"><b>инструкцию</b></a>;
ISO-образы для x86 также пригодны для записи USB-флэшку
(обратите внимание: программы UNetbootin и UltraISO
портят содержимое образа, делая невозможной загрузку
с записанного носителя).
</li>
{% if page.code != 'alt-kworkstation'%}
<li>
Для создания образа корневой файловой системы из aarch64-архива
воспользуйтесь <a href="http://altlinux.org/write/rootfs"><b>этой
инструкцией</b></a>.
</li>
{% endif %}
{% if page.code == 'alt-workstation'%}
<li>
Для прошивки образа mipsel на устройство Таволга Терминал следуйте
<a href="http://altlinux.org/write/recovery.tar"><b>этим указаниям</b></a>.
</li>
{% endif %}
{% if page.code != 'alt-server-v' %}
<li>
Для получения образов и репозитория для ВК Эльбрус (архитектура e2k)
<a href="http://altlinux.org/elbrus/distro"><b>обратитесь</b></a>
к нам;<br/>заказать дистрибутив или предустановку можно в
<a href="http://mcst.ru/kontakty-mcst"><b>МЦСТ</b></a>.
</li>
{% endif %}
</ul>
{% endif %}
{% if page.lang == 'en' %}
<ul>
<li>
Use <a href="http://en.altlinux.org/write"><b>this guide</b></a> to
write the ISO image onto blank DVD; x86 ISO images are also
suitable for USB flash drives (NB: UNetbootin and UltraISO
cripple the resulting media rendering it unbootable).
</li>
{% if page.code != 'alt-kworkstation'%}
<li>
Note that aarch64 rootfs archives presume the use of
<tt>alt-rootfs-installer</tt> utility to handle target
platform differences; the guide is currently available
<a href="http://altlinux.org/write/rootfs"><b>in Russian</b></a>.
</li>
{% endif %}
{% if page.code == 'alt-workstation'%}
<li>
Tavolga Terminal users are advised to flash the device using
<a href="http://altlinux.org/write/recovery.tar"><b>this manual</b></a>
in Russian.
</li>
{% endif %}
</ul>
{% endif %}
