{% if loc.platform == 'p9' %}
<a href="{{ loc.link }}" style="text-decoration: none;"><div class="link" style="cursor: pointer; padding: 10px;">
  <table style="margin: 0px; table-layout: fixed; width: 100%; border: none;">
    <tbody>
      <tr style="border: none;">
        <td style="border: none;">
          <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
  Platform 9: {% if loc.board %}{{ loc.board }}{% else %}{{ loc.arch }}{% endif %} ({{ loc.link | split: '/' | last }})
          </div>
        </td>
        <td style="border: none;">
  <a href="{{ loc.link }}" class="dload" >
    {% if page.lang == "en" %}Download{% else %}Скачать{% endif %}
  </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="float: left; padding: 10px;">
  </div>
	</div></a>
{% endif %}

