<header class="site-header" role="banner">

  <div class="wrapper" style="">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <a class="site-title" rel="author" href="{{ "/{{ page.lang }}/" | relative_url }}"><img src="{{ "/images/logo.png" | absolute_url }}" width="90"></a>
<div class="header-title">
  {{ site.description[page.lang] }}
</div>
    {%- if page_paths -%}
      {%- include paths.html -%}
    {%- endif -%}
  </div>

</header>
