
{% for section_hash in site.data.sections %}
  {% assign section = section_hash[1] %}
  <h1 style="text-align: center">
    {% if layout.lang == 'en'%}
{{ section.name_en }}
    {% else %}
{{ section.name_ru }}
    {% endif %}
  </h1>
  {%- for loc in section.members -%}
    <div style="width: 40%; border: 1px solid black; float: left; padding: 10px;margin: 20px;">
      <b>{{ loc.name_en }}</b>
	<p>
    {% if layout.lang == 'en'%}
{{ loc.descr_en }}
    {% else %}
{{ loc.descr_ru }}
    {% endif %}

</p>
    </div>
  {%- endfor -%}
{% endfor %}


