
{% assign sorted = (site.data.sections | sort: order) %}


{% for section_hash in sorted %}
  {% assign section = section_hash[1] %}
  <h1 style="text-align: center">
    {% if layout.lang == 'en'%}
{{ section.name_en }}
    {% else %}
{{ section.name_ru }}
    {% endif %}
  </h1>
  {%- for loc in section.members -%}
    <div class="section" tyle="width: 46%; border: 1px solid black; float: left; paddingi-bottom: 10px;margin: 1%;">
<a href="/en/sections/1.html">

      <img src="/i/logo/{{loc.img | default:"1" }}.jpg" width=100 align=top style="float: left; margin-right: 10px; padding: 5px;"/>

      <div style="padding: 10px;">
        <b>{{ loc.name_en }}</b>
	<p>

          {% if layout.lang == 'en'%}
            {{ loc.descr_ru }}
          {% else %}
            {{ loc.descr_en }}
          {% endif %}

        </p>
      </div>
      </a>
    </div>
  {%- endfor -%}
  <div style="clear: both;"></div>
{% endfor %}


