<div style="background-color: #{{page.color}};">
  <div style="margin: 0 auto; display: table; width: 1000px;background-colr: #ccc; padding: 20px 0;">
    <div style="width: 1000px; background-coor: #ccc">
      <table style="border: 0;">
        <tr style="border: 0; vertical-align: top;">
          <td style="border: 0;">
            {% include solution/links_main.html%}
            {% include solution/links_add.html%}
          </td>
          <td style="border: 0;">
            <img src="/i/ss/edu.png" align="left" class="ss"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

