<div style="background-color: #eee; colo: red; width: 100%; borde: 1px solid black">
  <div style="margin: 0 auto; display: table; padding: 20px 0; borde: 1px solid black; width: 95%" class="solution1">
    <div style="background-coor: #ccc">
      <div style="text-align: center;">
      {% include solution/name.html%}
      </div>
      <div>
        <div style="width: 100%; brder: 1px solid black; height: 100%; text-align: center; background-coor: red; margin: 0 auto">
          <img src="/i/ss/edu.png" align="left" class="ss">
        </div>
        {% include solution/descr.html%}
      </div>
      <div style="clear: both;"></div>
        <div style="display: table; text-align: center;  width: 100%; margin: 0 auto; borde: 1px solid yellow ; bckground-color: green;">
          {% assign links_add = 0 %}
          {% for loc in site.data.images.images %}
            {% if loc.arch == page.arch or loc.solution == page.code %}
              {% if loc.importance == 0%}
                {% assign links_add = 1 %}
              {% endif %}
            {%endif%}
          {% endfor %}

          {% include solution/links_main.html links_add=links_add%}
          {% if links_add == 1%}
            {% include solution/links_add.html%}
          {% endif %}
       </div>
    </div>
  </div>
</div>
