<div style="background-color: #{{page.color}};">
  <div style="margin: 0 auto; display: table; width: 1000px;background-colr: #ccc; padding: 20px 0;">
    <div style="width: 1000px; background-coor: #ccc">
      {% include solution/name.html%}
      <div>
        <img src="/i/ss/edu.png" align="left" class="ss"/>
        {% include solution/descr.html%}
      </div>
      <div style="clear: both;"></div>
        {% include solution/links_main.html%}
        {% include solution/links_add.html%}
      </div>
    </div>
  </div>
