.section-name {
text-align: center; 
margin: 20px 0;
}
#lang {
  text-align: right;
  margin: 10px 20px;;
}

.ss {
width: calc(50% - 50px);
}

.link {
background-color: #ccc;
margin-bottom: 10px;
padding: 10px 10px 0 0 ; 
text-align: justify; 
height: 50px; 
border-radius: 5px;
}

.index1 {
//width: 1200px;
max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
}

.solution1 {
width: 1200px;
max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

}

.links0 {
background-color: #ccc; 
float: left; 
padding: 10px; 
height: auto; 
border-radius: 5px;
margin-right: 10px;
text-align: left;
width: 95%;
margin: 20px 0;
}

.links1 {
background-color: #ddd;
float: left; 
padding: 10px; 
height: auto; 
border-radius: 5px;
margin-right: 10px;
text-align: left;
}

.links2 {
background-color: #ccc; 
float: left; 
padding: 10px; 
height: auto; 
border-radius: 5px;
margin-right: 0;
text-align: left;
}

a.dload {
text-decoration: none;
}

.dload {
float: right;
text-align: center;
background-color: #eee;
height: 20px;
width: 100px;
padding: 10px;
border-radius: 5px;
}

a.dload:hover {
background-color: #ffc900;
color: #333;
text-decoration: none;
}

a.section {
color: #000;
text-decoration: none;
}

a.section:visited {
color: #000;
text-decoration: none;
}

a.section:hover {
color: #000;
text-decoration: none;
}

.section {
  border: 1px solid black; 
  float: left; 
  padding-bottom: 10px;
  margin: 1%;
  height: auto;
  min-height: 290px;
text-align: left;
margin: 30px 10px; 
width: calc(50% - 50px); 
padding: 10px; 
max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
font-size: 1.2rem;
text-decoration: none;
}


@media screen and (max-width: 610px) {
  .section {
    width: 100%;
    margin: 10px auto;
    height: auto;
  }
  .sss{
    text-align: center;
  }
}


.header-title {
  margin-left: 10px;
  paddin-top: 20px;
  margin-top: 10px;
  float: left;
  vertical-align:  middle;
}


a {
  color: #000 ;
}

header {
//width: 1100px;
}



.section-name1 {
width: calc(100% - 120px);
padding-right: 20px;
}
