<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading"><a href="http://basealt.ru/">{{ site.company }}</a></h2>

        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        {%- include layout/social.html -%}        
      </div>

      <div class="footer-col footer-col-3" style="float: right; text-align: right; margin-right: 20px; width: 40%;">
	      <p>{% if page.lang == 'ru' %}{{ site.description_ru | escape }}{% else %}{{ site.description_en | escape }}{% endif %}</p>
      </div>
    </div>

  </div>

</footer>
