<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <a class="site-title" rel="author" href="/{{ page.lang }}/"><img src="/i/logo.png" width="90" style="margin-left: 10px;"></a>

    <div class="header-title">

        {%- if page.lang == 'ru' -%}
          Российский разработчик <br/> операционных систем "Альт"
        {%- endif -%}
        {%- if page.lang == 'en' -%}
          ALT operating systems <br/>russian developer company
        {%- endif -%}
    </div>

    {%- include layout/lang.html lang=layout.lang -%}
  </div>


</header>
