<header class="site-header">

  <div class="wrapper">
    <a class="site-title" rel="author" href="/{{ page.lang }}/"><img src="/i/logo.png" alt="BaseALT logo" width="90"></a>

    <div class="header-title">

        {%- if page.lang == 'ru' -%}
          Российский разработчик <br/> операционных систем <br/> «Альт»
        {%- endif -%}
        {%- if page.lang == 'en' -%}
          ALT <br/> operating systems <br/>Russian software company
        {%- endif -%}
    </div>

    {%- include layout/lang.html lang=layout.lang -%}
  </div>


</header>
