<div id="doc" style="text-align: right; margin-right: 20px;padding-top: 20px;">
{%- if page.lang == 'en' -%}
  <a href="https://docs.altlinux.org"><b>Documentation</b></a>
{%- endif -%}

{%- if page.lang == 'ru' -%}
  <a href="https://docs.altlinux.org/"><b>Документация</b></a>
{%- endif -%}

</div>
<div id="lang">
{% assign lurl = page.url | slice: 3, 100 %}

{%- if page.lang == 'en' -%}
  <a href="/ru{{lurl}}">Ru</a>
  /
  <a href="/en{{lurl}}"><b>En</b></a>
{%- endif -%}

{%- if page.lang == 'ru' -%}
  <a href="/ru{{lurl}}"><b>Ru</b></a>
  /
  <a href="/en{{lurl}}">En</a>
{%- endif -%}
</div>
