  <div style="margin-top: -35px; font-weight: bold; margin-left: 20px; padding-left: 120px; float: left;" class="section-name1">
<div style="float: left;">
    {% if page.lang == 'ru'%}
      {{ loc.name_ru }}
    {% else %}
      {{ loc.name_en }}
    {% endif %}
    </div>
{% if loc.code != 'starterkits' %}
  {%- for elem in site.data.images -%}
    {%- for i in elem[1].entries -%}
      {%- if i.solution == loc.code and i.arch == "x86-64" and i.platform == "p9" -%}
        <div style="text-align: right;" class="dload-div">
          <img onclick="document.location='{{i.link}}';return false;"
               src="/i/download.png"
               style="z-index: 200; width: 40px; padding-right: 20px; margin: 0;"
               data-link="{{i.link}}"
               title="{{i.link}}"
               class="download-click">
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{% endif %}
 
</div>

<div style="clear: both; padding-top: 20px">
  <p>
    {% if page.lang == 'ru'%}
      {{ loc.descr_ru }}
    {% else %}
      {{ loc.descr_en }}
    {% endif %}
  </p>
</div>
