{% if loc.code != 'starterkits' %}
  {%- for elem in site.data.images -%}
    {%- for i in elem[1].entries -%}
      {%- if i.solution == loc.code and i.arch == "x86-64" and i.status == "release" and i.importance == 1 and i.live != 1 -%}
        {% assign icon = "download" %}
        {% if i.index_icon %}
            {% assign icon = i.index_icon %}
        {% endif %}
          <img onclick="document.location='{{i.link}}';return false;"
               src="/i/{{ icon }}.png"
               title="{{i.link}}"
               class="dload-icon">
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{% endif %}

<div class="section-link-name">
    {% if page.lang == 'ru'%}
      {{ loc.name_ru }}
    {% else %}
      {{ loc.name_en }}
    {% endif %}
</div>

<div class="section-link-descr">
    {% if page.lang == 'ru'%}
      {{ loc.descr_ru }}
    {% else %}
      {{ loc.descr_en }}
    {% endif %}
    <hr/>
</div>
