
{% assign sorted = (site.data.sections | sort: order) %}

<div style="text-align: justify; width: 100%; padding: 0; margin: 0; ">
{% for section_hash in sorted %}
  {% assign section = section_hash[1] %}
  <h1>
    {% if page.lang == 'en'%}
      {{ section.name_en }}
    {% endif %}
    {% if page.lang == 'ru'%}
      {{ section.name_ru }}
    {% endif %}
  </h1>
  {%- for loc in section.members -%}
    <div class="section">
      <a href="/{{ page.lang }}/sections/{{ loc.code }}.html">
      <div style="height: 100%; float: left; vertical-alig: 50%;">
        <img src="/i/logo/{{loc.img | default:"edu" }}.jpg" width="100" align="top" >
      </div>
      <div style="padding: 10px;">
        <b>
          {% if page.lang == 'ru'%}
            {{ loc.name_ru }}
          {% else %}
            {{ loc.name_en }}
          {% endif %}
       </b>
	<p>
          {% if page.lang == 'ru'%}
            {{ loc.descr_ru }}
          {% else %}
            {{ loc.descr_en }}
          {% endif %}
        </p>
      </div>
      </a>
    </div>
  {%- endfor -%}
  <div style="clear: both;"></div>
{% endfor %}
</div>
