.dload {
float: right;
text-align: center;
background-color: #99f;
width: 100px;
padding: 10px;
border-radius: 5px;
}

a:hover {
background-color: #ddf;
color: green;
}


.section {
  border: 1px solid black; 
  float: left; 
  padding-bottom: 10px;
  margin: 1%;
  height: 200px;
text-align: left;
padding-bottom: 10px;
margin: 10px 10px; 
width: calc(30% - 23px); 
width: 500px;
padding: 10px; 
max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

}

@media screen and (max-width: 1150px) {
  .section {
    width: 100%;
    margin: 10px auto;
    padding: 0;
    text-align: left;
  }
  .sss{
    text-align: center;
  }
}


@media screen and (max-width: 610px) {
  .section {
    width: 90%;
    margin: 10px auto;
    height: auto;
  }
  .sss{
    text-align: center;
  }
}


.header-title {
  margin-left: 10px;
  padding-top: 20px;
  float: left;
}


a {
	color: #000 !important
}

header {
width: 1100px;
}
