.section {
  width: 46%; 
  border: 1px solid black; 
  float: left; 
  paddingi-bottom: 10px;
  margin: 1%;
  height: 160px;

borde: 1px solid black; float: lft; padding-bottom: 10px;margin: 10px; width: calc(50% - 23px); padding: 0; margin-left: 10px;

}

@media screen and (max-width: 1150px) {
  .section {
    width: 90%;
    margin: 10px auto;
    padding: 0;
  }
  .sss{
    text-align: center;
  }
}


@media screen and (max-width: 610px) {
  .section {
    width: 90%;
    margin: 10px auto;
    height: auto;
  }
  .sss{
    text-align: center;
  }
}


.header-title {
  margin-left: 10px;
  padding-top: 20px;
  float: left;
}


a {
	color: #000 !important
}
