<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include layout/head.html -%}

  <body style="borde: 1px solid black;">
    <div style="text-align; center; margin: auto;" class="top">
      {%- include layout/header.html -%}
    </div>
    <main class="page-content" aria-label="Content" style="width: 100%; text-align; center; margin: 0 auto; borde: 1px solid black">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  {%- include layout/footer.html -%}

  </body>
</html>
