<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body style="border: 1px solid black;">
    <div style="width: 1000px; text-align; center; margin: auto;">
    {%- if layout.lang == 'en' -%}
      {%- include header_en.html -%}
    {%- endif -%}

    {%- if layout.lang == 'ru' -%}
      {%- include header_ru.html -%}
    {%- endif -%}
    </div>
    <main class="page-content" aria-label="Content" style="borde: 1px solid black; widt: 100%">
      <div class="wrapper" style="padding: 0; margin: 0 auto; text-align: enter; borde: 1px solid black;;">
        {{ content }}
      </div>
    </main>

    {%- if layout.lang == 'en' -%}
      {%- include footer_en.html -%}
    {%- endif -%}

    {%- if layout.lang == 'ru' -%}
      {%- include footer_ru.html -%}
    {%- endif -%}

  </body>
</html>
