<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- if layout.lang == 'en' -%}
      {%- include header_en.html -%}
    {%- endif -%}

    {%- if layout.lang == 'ru' -%}
      {%- include header_ru.html -%}
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>


    {%- if layout.lang == 'en' -%}
      {%- include footer_en.html -%}
    {%- endif -%}

    {%- if layout.lang == 'ru' -%}
      {%- include footer_ru.html -%}
    {%- endif -%}


  </body>

</html>
