<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include layout/head.html -%}

  <body>
    <div class="top">
      {%- include layout/header.html -%}
    </div>
    <main class="page-content" aria-label="Content" style="width: 100%; text-align; center; margin: 0 auto;">
      <div class="wrapper">
        {{ content }}
        <div style="text-align: center;">
          {% include solution/name.html%}
        </div>
        <div style="background-color: #eee; colo: red; width: 100%; borde: 1px solid black">
          <div style="margin: 0 auto; display: table; padding: 20px 0; borde: 1px solid black; width: 95%" class="solution1">
            <div style="background-coor: #ccc">

              <div class="bolda">
                <div style="width: 100%; brder: 1px solid black; height: 100%; text-align: center; background-coor: red; margin: 0 auto">
                  <img src="/i/ss/{{ page.code }}.png" align="left" class="ss">
                </div>
                {% include solution/descr.html%}
              </div>
              <div style=" clear: both; vertical-align: bottom; width: 100%;" class="bolda">
		{%- include solution/dload_text.html -%}
              </div>
              <div style="clear: both;"></div>
                <div style="display: table; text-align: center;  width: 100%; margin: 10px auto; borde: 1px solid yellow ; bckground-color: green;">
		  {% if page.code != 'starterkits'%}

                  {% assign main_links = site.images | where: "solution", page.code | where: "arch", "x86-64" | where: "platform", "p9" %}
                  {% assign secondary_links1 = site.images | where: "solution", page.code | where_exp: "item", "item.arch != 'x86-64'" | where: "platform", "p9"|where_exp:"i","i.arch == 'i586'" %}
                  {% assign secondary_links2 = site.images | where: "solution", page.code | where_exp: "item", "item.arch != 'x86-64'" | where: "platform", "p9"|where_exp:"i","i.arch != 'i586'" %}                  

                  {% assign links_class = "links0" %}
                  {% if secondary_links1.size > 0 or secondary_links2.size > 0 %}
                    {% assign links_class = "links1" %}
                  {% endif %}
                  <div class="{{ links_class }}">
                    <h2>{{ site.txt_main_links[page.lang] }}</h2>
                    <div>
                    {% for loc in main_links %}
                      {% include solution/links.html notonly="x86-64"%}
                    {% endfor %}
                    </div>
                  </div>
                  {% if secondary_links2.size > 0  or secondary_links2.size > 0%}
                  <div class="links1">
                    <h2>{{ site.txt_secondary_links[page.lang] }}</h2>
                    <div>

                    {% for loc in secondary_links1 %}
                      {% include solution/links.html %}
                    {% endfor %}
                    {% for loc in secondary_links2 %}
                      {% include solution/links.html %}
                    {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  {%- include layout/footer.html -%}

  </body>
</html>
