<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include layout/head.html -%}
  <body>
    <div class="top">
      {%- include layout/header.html -%}
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include solution/name.html -%}
          <div class="solution1">
              <div class="bolda">
                <img src="/i/ss/{{ page.code }}.png" class="ss">
                {% include solution/descr.html%}
              </div>
              <div class="bolda">
		{%- include solution/dload_text.html -%}
              </div>
              <div class="links-wrapper">
		  {% if page.code != 'starterkits'%}

                  {% comment %}
                  Build a flat array of entries from several YAML files.
                  {% endcomment %}
                  {% assign image_list = empty_array %}
                  {% for elem in site.data.images %}
                    {% assign image_list = image_list | concat: elem[1].entries %}
                  {% endfor %}

                  {% assign main_links = image_list | where: "solution", page.code | where: "arch", "x86-64" | where: "platform", "p9" %}
                  {% assign secondary_links1 = image_list | where: "solution", page.code | where_exp: "item", "item.arch != 'x86-64'" | where: "platform", "p9"|where_exp:"i","i.arch == 'i586'" %}
                  {% assign secondary_links2 = image_list | where: "solution", page.code | where_exp: "item", "item.arch != 'x86-64'" | where: "platform", "p9"|where_exp:"i","i.arch != 'i586'" %}                  

                  {% assign links_class = "links0" %}
                  {% if secondary_links1.size > 0 or secondary_links2.size > 0 %}
                    {% assign links_class = "links1" %}
                  {% endif %}
                  <div class="{{ links_class }}">
                    <h2>{{ site.txt_main_links[page.lang] }}</h2>
                    <div>
                    {% for loc in main_links %}
                      {% include solution/links.html notonly="x86-64"%}
                    {% endfor %}
                    </div>
                  </div>
                  {% if secondary_links2.size > 0  or secondary_links2.size > 0%}
                  <div class="links1">
                    <h2>{{ site.txt_secondary_links[page.lang] }}</h2>
                    <div>

                    {% for loc in secondary_links1 %}
                      {% include solution/links.html %}
                    {% endfor %}
                    {% for loc in secondary_links2 %}
                      {% include solution/links.html %}
                    {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  {% endif %}
              </div>
            </div>
        </div>
      </div>
    </main>
  {%- include layout/footer.html -%}

  </body>
</html>
